* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto ;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}
#mybody{
    background-color: white;
    transition: all 1s;

}


/* header */
#site-header {
    width: 100%;
    z-index: 10;
}

.fixed-header.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header.main-header{
    padding: 20px 0;
    height: 100px;
    display: grid;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.2);
    transition: all .5s;
}
header.nav-fixed{
    background-color: white;
    height: 80px;
    border-bottom: none;
    padding: 0;
    transition: all .5s;
}
.active-header{
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
}
.nav-fixed .navbar-collapse .nav-item .nav-link{
    color: #787592;
}
.nav-fixed .navbar-collapse #primary-menu .nav-item.active .nav-link{
    color: #00a63f;
}

.navbar {
    justify-content: space-between;
}

.navbar-left {
    font-weight: 600;
    font-size: 30px;
}
.navbar .navbar-brand {
    color: #fff;
    font-weight: 600;
}

.navbar-left span:first-of-type {
    color: green;
}

.navbar-left span:last-of-type {
    display: block;
    font-size: 12px;
    text-align: center;
    padding-left: 15px;
}

.navbar .navbar-collapse .navbar-nav {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffffb4;
    transition: all 1s;
}

#capstone-navbar .nav-item.active .nav-link {
    color: #fff;
}

#capstone-navbar .nav-item:hover .nav-link {
    color: #fff;
}


.control {
    cursor: pointer;
}
.control .btn-search {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: green;
    border-radius: 50%;
    color: white;
    transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
}







/* switch theme */
.header-darkandlight .btn-switch{
    background: none;
    color: #fff;
    border: none;
    font-size: 25px;
    width: 20px;
    height: 20px;
}
.nav-fixed .header-darkandlight .btn-switch{
    color: #787592;
}
.btn-switch .fa-moon{
    display: block;
}
.btn-switch .fa-sun{
    display: none;
}
.dark #swicththeme .fa-sun{
    display: block;
}
.dark #swicththeme .fa-moon{
    display: none;
}
.navbar-light .navbar-toggler{
    border: none;
}
.dark header.nav-fixed{
    background-color: black;
}
.dark#mybody{
    background-color: black;
}
.dark .shape path{
    fill: black;
}
.dark .nav-fixed .navbar-brand{
    color: white;
}
.dark .nav-fixed .nav-item .nav-link,.dark .header-darkandlight .fa-sun{
    color: rgb(255, 255, 255,0.7);
}
.dark header#site-header.fixed-header.main-header.nav-fixed{
    background-color: #000000;
}


.navbar-toggler .fa-bars{
    display: block;
    background: #00a63f;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    line-height: 35px;
}
.navbar-toggler .fa-circle-xmark{
    display: none;
}
.navbar-toggler .fa-bars:hover .fa-bars{
    display: none;
}
header#site-header.fixed-header.main-header.nav-fixed{
    background-color: #fff;
}
.nav-fixed .navbar .navbar-brand{
    color: #3f3a64;
}






            /* CAROUSEL */
#carousel-content{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.carousel-item{
    background-size: cover;
}
.carousel-title {
    position: absolute;
    color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1;
}

.carousel-title h2 {
    font-size: 65px;
    font-weight: 600;
    max-width: 800px;
    margin-bottom: 16px;
}

.carousel-title p {
    font-size: 20px;
    max-width: 600px;
    letter-spacing: 0.16px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.carousel-item .btn {
    padding: 10px 40px;
    background: #00a63f;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
}
.carousel-control .carousel-control-prev, .carousel-control .carousel-control-next{
    position: absolute;
    top: 85%;
    left: 95%;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.12);
    border: 1px solid #00000000;
    z-index: 2;
    transition: .5s;
}

.carousel-control .carousel-control-prev{
    left: 91%;
}
.carousel-control .fa-solid{
    color:#3f3a64;
    font-size: 25px;
}
.nav-fixed .carousel-control .fa-solid{
    color: #3f3a64;
}
.hero-overlay {
    position: absolute;
    background: rgba(29, 42, 55, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* color: white; */
}
.shape path{
    fill: white;
    transition: all 1s;
}


@media screen and (max-width: 1140px){
    header.nav-fixed{
        padding: 20px 0;
    }

    /* header.fixed-header{
        padding: 20px 0;
    } */
}
@media screen and (max-width:992px) {
    .container{
        width: 100%;
    }
    
    header.main-header{
        padding: 20px 0;
        height: auto;
    }
    .header-search{
        position: absolute;
        top: 23px;
        right: 100px;
        height: auto;
    }
    .header-darkandlight{
        position: absolute;
        top: 33px;
        right: 60px;
    }
    header.nav-fixed{
        padding: 10px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        text-align: center;
        height: 50px;
        padding: 6px 0;
    }
    .nav-fixed .navbar-brand{
        color: #3f3a64;
        font-size: 32px;
    }

}