* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Jost", sans-serif;
}


#mybody {
    background-color: white;
    transition: all 1s;
}

/* header */
#site-header {
    width: 100%;
    z-index: 10;
}

.header__style {
    color: #3f3a64;
    font-weight: 700;
}

.subheader__style {
    color: #7e7d7d;
    font-weight: 400;
}

.fixed-header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.fixed-header.main-header .nav-fixed{
    position: fixed;
}

header.main-header {
    /* padding: 20px 0; */
    height: 100px;
    display: grid;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.2);
    transition: all 0.5s;
}
header.nav-fixed {
    background-color: white;
    height: 80px;
    border-bottom: none;
    padding: 0;
    transition: all 0.5s;
}
.active-header {
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
}
.nav-fixed .navbar-collapse .nav-item .nav-link {
    color: #787592;
}
.nav-fixed .navbar-collapse #primary-menu .nav-item.active .nav-link {
    color: #00a63f;
}

#site-header .navbar {
    justify-content: space-between;
    box-shadow: none;
}

.navbar-left {
    font-weight: 600;
    font-size: 30px;
}
.nav-fixed .navbar .navbar-brand {
    color: #3f3a64;
}
.navbar .navbar-brand {
    color: #fff;
    font-weight: 600;
    display: block;
}

.navbar-left span:first-of-type {
    color: green;
}

.navbar-left span:last-of-type {
    display: block;
    font-size: 12px;
    text-align: center;
    padding-left: 15px;
}

.navbar .navbar-collapse .navbar-nav {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffffb4;
    transition: all 1s;
}

#capstone-navbar .nav-item.active .nav-link {
    color: #fff;
}

#capstone-navbar .nav-item:hover .nav-link {
    color: #fff;
}

.control {
    cursor: pointer;
}
.control .btn-search {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: green;
    border-radius: 50%;
    color: white;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* switch theme */
.header-darkandlight .btn-switch {
    background: none;
    color: #fff;
    border: none;
    font-size: 25px;
    width: 20px;
    height: 20px;
}
.nav-fixed .header-darkandlight .btn-switch {
    color: #787592;
}
.btn-switch .fa-moon {
    display: block;
}
.btn-switch .fa-sun {
    display: none;
}
.dark #swicththeme .fa-sun {
    display: block;
}
.dark #swicththeme .fa-moon {
    display: none;
}
.navbar-light .navbar-toggler {
    border: none;
}
.dark header.nav-fixed {
    background-color: #151421;
    transition: 1s;
}
.dark#mybody {
    background-color: black;

}
.dark .shape path {
    fill: #151421;
}
.dark .nav-fixed .navbar-brand {
    color: white;
}
.dark .nav-fixed .nav-item .nav-link,
.dark .header-darkandlight .fa-sun {
    color: rgb(255, 255, 255, 0.7);
}
.dark header#site-header.fixed-header.main-header.nav-fixed {
    background-color: #151421;
}
.dark .dropdown-menu{
    background-color: #151421;

}
.dark .dropdown-menu .dropdown-item{
    color: white;
}
.dark footer{
    background-color: #151421 !important;
}
.bg-body-tertiary{
    background-color: rgb(251, 251, 251);
    transition: 1s;
}



button.navbar-toggler .fa-bars {
    display: block;
    background: #00a63f;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    border-radius: 5px;
    transition: all 1s;
}
button.navbar-toggler.collapse .fa-bars{
    display: none;
}
button.navbar-toggler .fa-circle-xmark{
    display: block;
    background: #00a63f;
    color: #fff;
    font-size: 20px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    position: absolute;
    top: 28px;
    border-radius: 5px;
}
button.navbar-toggler.collapsed .fa-circle-xmark{
    display: none;
}


header#site-header.fixed-header.main-header.nav-fixed {
    background-color: #fff;
}

/* CAROUSEL */
#carousel-content {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.carousel-item {
    background-size: cover;
}
.carousel-title {
    position: absolute;
    color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1;
}

.carousel-title h2 {
    font-size: 65px;
    font-weight: 600;
    max-width: 800px;
    margin-bottom: 16px;
}

.carousel-title p {
    font-size: 20px;
    max-width: 600px;
    letter-spacing: 0.16px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.carousel-item .btn {
    padding: 10px 40px;
    background: #00a63f;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
}
.carousel-control .carousel-control-prev,
.carousel-control .carousel-control-next {
    position: absolute;
    top: 85%;
    left: 95%;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.12);
    border: 1px solid #00000000;
    z-index: 2;
    transition: 0.5s;
}

.carousel-control .carousel-control-prev {
    left: 91%;
}
.carousel-control .fa-solid {
    color: #3f3a64;
    font-size: 25px;
}
.nav-fixed .carousel-control .fa-solid {
    color: #3f3a64;
}
.hero-overlay {
    position: absolute;
    background: rgba(29, 42, 55, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* color: white; */
}
.shape path {
    fill: white;
    transition: all 1s;
}



/* ABOUT US */
.about{
    padding-top: 20px
}
.about__left p:first-of-type{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}
.about__left h2{
    font-size: 30px;
    font-weight: 700;    
    color: #3f3a64;
}
.about__left p:last-of-type{
    font-size: 18px;
    color: #c2c2c2;
    opacity: 0.9;
}
.about__left ul{
    padding-left: 0;
}
.about__left ul li{
    list-style: none;
    padding-bottom: 15px;
}
.about__left ul li span{
    font-size: 18px;
    font-weight: 600;
    color: #3f3a64;
}
.about__left ul li i{
    width: 20px;
    height: 20px;
    background: #00a63f;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    border-radius: 50%;
    margin-right: 5px;
}

.about__right .img__left img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.about__right .img__right img{
    width: 100%;
    border-radius: 8px;
}
.dark .about__left h2, .dark .about__left ul li span{
    color: #fff;
}
.dark .about{
    background: #151421;
    transition: 1s;
}


/* Challenge */
.challenge{
    background: #f7f7f7;
    transition: 1s;
}
.dark .challenge{
    background-color: #000000;
}
.challenge__left p:first-of-type{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    margin-bottom: 0;
}
.challenge__left h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: #3f3a64;
}
.dark .challenge__left h2{
    color: #fff;
}
.challenge__left p:last-of-type{
    font-size: 18px;
    color: #c2c2c2;
    opacity: 0.9;
    margin-bottom: 0;
}
.challenge__left .btn{
    padding: 15px 50px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    background: #00a63f;
    color: white;
    border-radius: 8px;
    transition: .5s;
}
.challenge__left .btn:hover{
    background-color: #008030;
}
.challenge__right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    text-align: center;
}
.challenge__right--item{
    padding: 40px 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, .05);
    transition: 1s ease;
}
.dark .challenge__right--item{
    background-color: #151421;
}
.challenge__right--item p{
    font-size: 21px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    color: #3f3a64;
    transition: .5s;
}
.dark .challenge__right--item p{
    color: #fff;
}
.challenge__right--item:hover{
    transform: translateY(-0.25rem);
    box-shadow: 0 2px 4px rgba(46, 41, 51, .08), 0 5px 10px rgba(71, 63, 79, .16);
}
.challenge__right--item p:hover{
    color: #009f4d;
}
/* SERVICE */
.service .service__title{
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #3f3a64;
    margin-bottom: 0;
}
.service__content .service__item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.service__item--info{
    padding: 0 20px;
}
.service__content .service__item--info a{
    display: inline-block;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    background: #fff;
    padding: 12px 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: 1px 1px 5px 0 rgba(1, 1, 1, 0.1);
    transition: .5s;
}

.service__content .service__item--info p{
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .9;
}
.service__item .service__btn{
    padding: 10px 35px;
    font-size: 16px;
    line-height: 90px;
    font-weight: 600;
    color: #3f3a64;
    transition: .5s;
}
.service__item .service__btn:hover{
    color: #009f4d;
}
.dark .service__title{
    color: #fff;
}
.dark .service__content .service__item--info a{
    background: #000000;
    color: #fff;
}
.dark .service__content .service__item--info p{
    color: #fff;
    opacity: 0.7;
}
.dark .service__btn{
    color: #fff;
}
.dark .service{
    background: #151421;
    transition: 1s;
}
.service__content .service__item--info a:hover{
    color: #009f4d;
}





/* Gallery */
.gallery {
    padding: 50px;
    background-color: #f8f9fa;
    transition: 1s;
}


.dark .gallery{
    background-color: #000000;

}
.dark .gallery__top h2{
    color: #fff;
}
.item__header {
    text-align: center;
}

.gallery__row {
    row-gap: 30px;
    padding: 20px;
}

.gallery__row .gallery__col img {
    display: flex;
    width: 100%;
}

.gallery__col a:hover img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.gallery__col a {
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery__shasow {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    right: 0px;
}

.gallery__col:hover .gallery__shasow {
    background-color: rgba(0, 0, 0, 0.53);
    transition: all 1s;
}

.gallery__overlay {
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transform: translateY(60px);
    color: white;
}

.gallery__col:hover .gallery__overlay {
    transform: translateY(0px);
    transition: all 1s;

    opacity: 1;
}

.gallery__overlay h3 {
    font-weight: 700;
}

/* Gallery Bottom */
.gallery__bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    margin: 20px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.gallery__bottom img {
    width: 15%;
}

/* Achievement */
.achievement {
    padding: 50px 0;
}
.achievement .ach__left img {
    width: 100%;
    border-radius: 10px;
}

.achievement .ach__right .ach__number1 p {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}
.achievement .ach__right .ach__number2 {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}
.achievement .ach__right .ach__number3 {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}
.achievement .ach__right .ach__number4 {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}

.achievement .ach__right .progress {
    margin: 20px 0;
}

.achievement .ach__right .progress__group {
    position: relative;
}

.achievement .ach__right .progress .progress-bar::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2.5px solid;
    background-color: white;
}

.achievement .ach__right .progress .progress-bar::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    background-color: rgba(255, 255, 255, 0.319);
}

.achievement .ach__right .progress .progress-bar1 {
    background-image: linear-gradient(to right, #3887be, #52d3d8);
}

.achievement .ach__right .progress .progress-bar1::after {
    left: 80%;
    border-color: #52d3d8;
}

.achievement .ach__right .progress .progress-bar1::before {
    left: 78.5%;
    border-color: #52d3d8;
}

.achievement .ach__right .progress .progress-bar2 {
    background-image: linear-gradient(to right, #ee7214, #f9e8d9);
}
.achievement .ach__right .progress .progress-bar2::after {
    left: 95%;
    border-color: #f9e8d9;
}

.achievement .ach__right .progress .progress-bar2::before {
    left: 93.5%;
    border-color: #f9e8d9;
}

.achievement .ach__right .progress .progress-bar3 {
    background-image: linear-gradient(to right, #c21292, #711db0);
}

.achievement .ach__right .progress .progress-bar3::after {
    left: 60%;
    border-color: #711db0;
}

.achievement .ach__right .progress .progress-bar3::before {
    left: 58.5%;
    border-color: #711db0;
}

.achievement .ach__right .progress .progress-bar4 {
    background-image: linear-gradient(to right, #ffa732, #c21292);
}

.achievement .ach__right .progress .progress-bar4::after {
    left: 85%;
    border-color: #c21292;
}

.achievement .ach__right .progress .progress-bar4::before {
    left: 83.5%;
    border-color: #c21292;
}

/* FEEDBACK */
.feedback {
    padding: 50px;
    background-color: #f8f9fa;
}

.dark .feedback__header h2{
    color: #fff;
}

.feedback__content {
    padding: 50px;
}

.feedback__item > p {
    text-align: center;
}

.feedback__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.feedback__img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.feedback__img img {
    width: 100%;
}

.feedback__text {
    padding-left: 20px;
}

.dark .feedback__item .feedback__name .feedback__text span:first-of-type{
    color: #fff;
}
.feedback__text span:first-of-type {
    color: #322760;
    font-weight: 700;
}

.feedback__text span:last-of-type {
    color: gray;
}

#feedback .feedback__content .owl-dot.active span {
    background-color: #322760;
    width: 15px;
    height: 15px;
}

#feedback .feedback__content .owl-dot:hover span {
    background-color: #322760;
    width: 13px;
    height: 13px;
}

#feedback .feedback__content .owl-dot {
    margin: 40px 0;
}

/* News */
.news {
    padding: 50px 0;
}
.news .row {
    padding: 20px 0;
}

.news .card a {
    overflow: hidden;
}
.news .card img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.news .card-body h5:hover {
    color: #00a63f;
    transition: all 0.5s;
}

.news .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news .card-footer a:last-of-type:hover {
    color: #00a63f;
}

/* Footer */
footer {
    background-color: #000000;
}

.footer__bottom {
    padding: 50px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.766);
    border-bottom: 1px solid grey;
}

.footer__style {
    color: grey;
}

.footer__logo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 42px;
    font-weight: 700;

    margin-left: 20px;
}

.footer__logo span:last-of-type {
    font-size: 20px;
    font-weight: 300;
}

.footer__logo i {
    color: green;
    font-size: 40px;
}

.footer__logo__text {
    display: flex;
    flex-direction: column;

    color: white;
}

.footer__text {
    padding: 10px 0;
}

.footer__icon i {
    padding-right: 20px;
}

.footer__header {
    color: white;
    font-size: 25px;

    padding-top: 16px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px 0;
}

.footer__style a:hover {
    color: white;
    transition: all 1s;
}

.footer__list ul {
    list-style: none;
    margin-left: -35px;
}

.footer__list li {
    padding: 5px;
}

.footer__top {
    background-image: url(../img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__top__content {
    color: white;
}

.footer__top__content button {
    color: white;
}

.footer__top__header p:first-of-type {
    font-size: 30px;
    font-weight: 700;
}

.footer__top__header {
    padding: 20px 0;
}

.footer__top__content {
    padding: 100px 0;
}

.footer__top__content .form-control {
    border-color: rgba(128, 128, 128, 0.5);
    background-color: #000000;
}

.footer__top__content #button-addon2 {
    background-color: #00a63f;
    border-color: #00a63f;
    text-transform: none;

    font-weight: 500;
}
.footer__top__content #button-addon2:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.footer__top__content .input-group-prepend #addon-wrapping {
    border-color: rgba(128, 128, 128, 0.5);
}

footer .copyright {
    padding: 20px 0;
}

footer .copyright span:last-of-type {
    color: #00a63f;
}
.dark .owl-theme .owl-dots .owl-dot span{
    background: #213364;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }

    header.main-header {
        padding: 15px 0;
        height: auto;
    }
    .header-search {
        position: absolute;
        top: 23px;
        right: 100px;
        height: auto;
    }
    .header-darkandlight {
        position: absolute;
        top: 33px;
        right: 60px;
    }
    header.nav-fixed {
        padding: 10px 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        height: 50px;
        padding: 6px 0;
    }
    .nav-fixed .navbar-brand {
        color: #3f3a64;
        font-size: 32px;
    }
}
